

.logo2{

    color: black;
    text-align: center;
    font-size: 40px;
}

span{
    color: rgb(97, 162, 0);
}

body{

    background-color: blanchedalmond;
}
a{

    color: rgb(0, 0, 0);
    font-size: 40px;
    text-decoration: none;
    position: sticky;
    left: 80%;
    
    
}
img{

    position: relative;
    top: 70px;
    width: 400px;
    border-radius: 20px;
    float: left;
    
}

p{
    font-size: 26px;
    color: rgb(19, 28, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(121, 205, 69, 0.877);
    
}