
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100px;
    width: 100px;
    display: flex;
    align-items: center ;
    justify-content: center;
    z-index: 1;
}
  
body{
    /* background-color: rgba(0, 0, 0, 0.89); */
    background-image: url(./thisis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#hero{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    left: 75vh;
    top: 40vh;
    height: 100%;
    width: 100%;
    opacity:.8;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{

    display: block;
    width: fit-content;
    font-size: 85px;
    position: relative;
    color: transparent;
    animation: text_reveal .1s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){

    animation-delay:1s;
}

#hero h1:nth-child(2){

    animation-delay:2s;
}
#hero h1:nth-child(3){
    
    animation-delay:3s;
}
#hero h1 span{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255, 0, 0, 0.997);
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
    
}
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}#hero h1:nth-child(3) span{
    animation-delay: 3s;
}
#hero .cta{
    font-size: 30px;
    display: inline-block;
    padding: 10px 30px;
    color: rgba(239, 20, 20, 0.827);
    background-color: transparent;
    border: 8px solid;
    text-transform: uppercase;
    letter-spacing: -1;
    margin-top: 15px;
    transition: 1s ease background-color;
    transition-property: backgroung-color, color;

}
#hero .cta:hover{

    color: rgb(255, 255, 255);
    background-color: rgb(224, 0, 0);

}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%

        
    }
}

@keyframes text_reveal{

    100%{
        color:rgb(0, 0, 0);
    }
}




.vero{

    width: 96%;
    
}



.logo{

    color: white;
    font-size: 40px;
    position: relative;
    top: 20px;
    
}
span{
    color: rgba(180, 24, 24, 0.63);
    font-size: 40px;
}


    
   


.a1{
    color: whitesmoke;
    position: relative;
    top: 0px;
    left: 86%;
    font-size: 40px;  
    
}
.a2{

    color: whitesmoke;
    position: relative;
    top: 0px;
    left: 65%;
    font-size: 40px;  
    
}

/* about me page style */


